<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content">

	<!-- COLOR PALETTE -->
	<div class="box box-default color-palette-box">
		<div class="box-header with-border">
			<h3 class="box-title">
				<i class="fa fa-tag"></i> 参赛选手
			</h3>
		</div>
		<div class="box-body" id="tsList"></div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</section>
<!-- /.content -->


<script src="/static/console/js/page.js"></script>
<script src="/static/console/js/gdate.js"></script>

</html>
